%h2 Teams

= link_to 'New team', new_team_path

%table.table.table-hover
  %thead
    %tr
      %th #
      %th Name
      %th Mutants
      %th Tasks
      %th Actions

  %tbody
    - @teams.each_with_index do |team, i|
      %tr
        %th= i + 1
        %td= link_to team.name, team
        %td
          = safe_join(team.mutants.map { |mutant| link_to mutant.name, mutant }, ', ')
        %td
          - if team.tasks.present?
            = safe_join(team.tasks.each { |task| link_to task.name, task }, ', ')
          - else
            = link_to 'Not assigned. Assign?', edit_team_path(team)
        %td
          = button_to 'Delete', team_path(team), method: :delete, class: 'btn btn-danger btn-xs'
