<!DOCTYPE html>
%html
  %head
  %title MutantsApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %div.wrapper.wrapper-content
      %div.container
        %div.row
          %div.content
            - if flash[:notice]
              %div.alert.alert-success= flash[:notice]
            - if flash[:error]
              %div.alert.alert-danger= flash[:error]

            = yield
