<!DOCTYPE html>
%html
  %head
  %title MutantsApp
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-static-top
      %div.container
        %div.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li{class: ('active' if current_page?(controller: 'mutants'))}
              = link_to 'Mutants', mutants_path
            %li{class: ('active' if current_page?(controller: 'teams'))}
              = link_to 'Teams', teams_path
            %li{class: ('active' if current_page?(controller: 'tasks'))}
              = link_to 'Tasks', tasks_path

    %div.wrapper.wrapper-content
      %div.container
        %div.row
          %div.content
            - if flash[:notice]
              %div.alert.alert-success= flash[:notice]
            - if flash[:error]
              %div.alert.alert-danger= flash[:error]

            = yield
